<div class="bg-gray-900 h-24">
  <%= render "layouts/top_nav" %>
</div>

<div class="relative isolate overflow-hidden bg-white px-6 py-24  lg:overflow-visible lg:px-0">
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg
      class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
      aria-hidden="true">
      <defs>
        <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1"
          patternUnits="userSpaceOnUse">
          <path d="M100 200V.5M.5 .5H200" fill="none" />
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
          stroke-width="0" />
      </svg>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
    </svg>
  </div>
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 ">
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <img class="mx-auto mb-8 -mt-6" src="http://sofwarellc.com/assets/images/forge.png">
          <p class="mt-6 text-xl/8 text-gray-700">Recruiting, assessing, mentoring and developing the best and the right
            people at a high level requires measurement of what matters most. This doesn’t end with selection; it’s
            where it begins.</p>
        </div>
      </div>
    </div>
    <%# Demo Vid %>
    <div class="-ml-12 mt-8 p-12 lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
      <iframe width="800" height="480" src="https://www.youtube.com/embed/0IvgjRzNqyY?si=bjO2Nmsn8ZI8JIo5"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>
    </div>
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 ">
      <div class="lg:pr-4">
        <div class="max-w-xl text-base/7 text-gray-700 lg:max-w-lg">
          <p>FORGE™ is for any DoD, Federal, Interagency, Intelligence Community, or First Responder organizations that
            grade, assess, select, train, develop, and mentor their people.</p>
          <ul role="list" class="mt-8 space-y-8 text-gray-600">
            <li class="flex gap-x-3">
              <svg class="mt-1 size-5 flex-none text-orange-600" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd"
                  d="M5.5 17a4.5 4.5 0 0 1-1.44-8.765 4.5 4.5 0 0 1 8.302-3.046 3.5 3.5 0 0 1 4.504 4.272A4 4 0 0 1 15 17H5.5Zm3.75-2.75a.75.75 0 0 0 1.5 0V9.66l1.95 2.1a.75.75 0 1 0 1.1-1.02l-3.25-3.5a.75.75 0 0 0-1.1 0l-3.25 3.5a.75.75 0 1 0 1.1 1.02l1.95-2.1v4.59Z"
                  clip-rule="evenodd" />
              </svg>
              <span><strong class="font-semibold text-gray-900">Your network</strong> deploy on your network, on-prem or
                cloud</span>
            </li>
            <li class="flex gap-x-3">
              <svg class="mt-1 size-5 flex-none text-orange-600" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd"
                  d="M10 1a4.5 4.5 0 0 0-4.5 4.5V9H5a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2h-.5V5.5A4.5 4.5 0 0 0 10 1Zm3 8V5.5a3 3 0 1 0-6 0V9h6Z"
                  clip-rule="evenodd" />
              </svg>
              <span><strong class="font-semibold text-gray-900">Ruggedized Standalone</strong> choose Our ruggedized
                ANVIL kit (non-Enterprise) purpose-built for disconnected environments for ultra secure access</span>
            </li>
            <li class="flex gap-x-3">
              <svg class="mt-1 size-5 flex-none text-orange-600" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true" data-slot="icon">
                <path
                  d="M4.632 3.533A2 2 0 0 1 6.577 2h6.846a2 2 0 0 1 1.945 1.533l1.976 8.234A3.489 3.489 0 0 0 16 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234Z" />
                <path fill-rule="evenodd"
                  d="M4 13a2 2 0 1 0 0 4h12a2 2 0 1 0 0-4H4Zm11.24 2a.75.75 0 0 1 .75-.75H16a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75h-.01a.75.75 0 0 1-.75-.75V15Zm-2.25-.75a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 0 0 .75-.75V15a.75.75 0 0 0-.75-.75h-.01Z"
                  clip-rule="evenodd" />
              </svg>
              <span><strong class="font-semibold text-gray-900">Big Data</strong> receive and manage large amounts of
                performance data, provides assessment reports, survey reports, leaderboards, and comparison views</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative bg-gray-900 pb-16">
  <div class="flex items-center justify-center align-middle">
    <img class="opacity-[.12] absolute top-64" src="http://sofwarellc.com/assets/images/hammer.png">
  </div>
  <div class="lg:mx-auto lg:max-w-4xl lg:px-8">
    <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-8 lg:max-w-none lg:mx-0 lg:px-0">
      <div>
        <div class="mt-6 text-center">
          <div class="lg:max-w-lg mx-auto">
            <h2 class="text-base/7 font-semibold text-orange-600">Everything you need</h2>
            <p class="mt-2 text-4xl font-semibold text-white tracking-tight text-pretty sm:text-[2.9rem]">All-in-one
              platform</p>
            <p class="mt-6 text-lg/8 text-gray-300">Whether your're an on the ground selector or managing from the
              enterprise view, FORGE is ready</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2 px-40">
    <div class="">
      <h4 class="font-thick leading-tight text-white font-bold text-xl text-center">For Selectors<br><br></h4>
      <ul role="list" class=" space-y-12 text-gray-300">
        <li class="flex gap-x-3">
          <svg class="size-6 flex-none text-orange-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
            data-slot="icon">
            <path fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
              clip-rule="evenodd"></path>
          </svg>
          <div>
            <h5 class="block font-bold text-white pb-4">Existing Data</h5>
            FORGE™ links existing clientcurriculum and attributes
          </div>
        </li>
        <li class="flex gap-x-3">
          <svg class="size-6 flex-none text-orange-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
            data-slot="icon">
            <path fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
              clip-rule="evenodd"></path>
          </svg>
          <div>
            <h5 class="block font-bold text-white pb-4">Any Mission</h5>
            Evaluate candidates in any mission scenario: EOD evolutions, Maritime Mobility Operations, Bluesheet
            grading, OPORD presentations, GFC sims
          </div>
        </li>
        <li class="flex gap-x-3">
          <svg class="size-6 flex-none text-orange-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
            data-slot="icon">
            <path fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
              clip-rule="evenodd"></path>
          </svg>
          <div>
            <h5 class="block font-bold text-white pb-4">Skill Events</h5>
            Grade skills events like CQC, MFF, JTAC, Throttle man, Navigator, Heavy Weapons, or others that have safety
            and performance violations associated
          </div>
        </li>
        <li class="flex gap-x-3">
          <svg class="size-6 flex-none text-orange-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
            data-slot="icon">
            <path fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
              clip-rule="evenodd"></path>
          </svg>
          <div>
            <h5 class="block font-bold text-white pb-4">Report Card</h5>
            Provides a Selector Report Card for adjudication and anonymized Member Report Card for debriefing candidates
          </div>
        </li>
        <li class="flex gap-x-3">
          <svg class="size-6 flex-none text-orange-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
            data-slot="icon">
            <path fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
              clip-rule="evenodd"></path>
          </svg>
          <div>
            <h5 class="block font-bold text-white pb-4">Peer Surveys</h5>
            FORGE™ allows Peer Surveys with Perceptions, Nominations, Questions, and displays Perception Gap (how the
            candidate perceives themselves vs. how the group perceives them)
          </div>
        </li>
      </ul>
    </div>


    <div class="">
      <h4 class="font-thick leading-tight text-white font-bold text-xl text-center">For the Enterprise<br><br></h4>
      <ul role="list" class=" space-y-12 text-gray-300">
        <li class="flex gap-x-4">
          <svg class="size-6 flex-none text-orange-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
            data-slot="icon">
            <path fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
              clip-rule="evenodd"></path>
          </svg>
          <div>
            <h5 class="block font-bold text-white pb-4">End to End</h5>
            Capture data on personnel — from entry through retirement
          </div>
        </li>
        <li class="flex gap-x-3">
          <svg class="size-6 flex-none text-orange-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
            data-slot="icon">
            <path fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
              clip-rule="evenodd"></path>
          </svg>
          <div>
            <h5 class="block font-bold text-white pb-4">Select and Identify</h5>
            Deep select high-character performers/great teammates for leadership, or identify latent risks (ask members,
            combine scores, enact change)
          </div>
        </li>
        <li class="flex gap-x-3">
          <svg class="size-6 flex-none text-orange-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
            data-slot="icon">
            <path fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
              clip-rule="evenodd"></path>
          </svg>
          <div>
            <h5 class="block font-bold text-white pb-4">Grade</h5>
            Training detachments can grade throughout a course in Marksmanship, Land Warfare, Diving, CQC, and other
            phases
          </div>
        </li>
        <li class="flex gap-x-3">
          <svg class="size-6 flex-none text-orange-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
            data-slot="icon">
            <path fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
              clip-rule="evenodd"></path>
          </svg>
          <div>
            <h5 class="block font-bold text-white pb-4">Visibility</h5>
            Members can see where they stand (ask questions, reconcile perceptions, elevate). Senior Leaders can view at
            the Group level, down to the Squad level (trust but verify); Senior Enlisted can deep dive to mentor/develop
          </div>
        </li>
        <li class="flex gap-x-3">
          <svg class="size-6 flex-none text-orange-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
            data-slot="icon">
            <path fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
              clip-rule="evenodd"></path>
          </svg>
          <div>
            <h5 class="block font-bold text-white pb-4">Integrated</h5>
            ATO on NIPR/SIE, ATO-C’d on SIPR - Cloud capable
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="relative pb-16">
  <div class="lg:mx-auto lg:px-8 bg-gray-50 pb-16">
    <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-8 lg:max-w-none lg:mx-0 lg:px-0">
      <div>
        <div class="mt-6 text-center">
          <div class="lg:max-w-4xl mx-auto">
            <p class="mt-2 text-5xl font-semibold">Measure what counts</p>
            <p class="mt-6 text-lg/8 ">Because what gets measured, gets done.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-auto flex pl-36 pt-4">
      <!-- Tabs (Left Column) -->
      <ul class="tabs col-span-1 flex flex-col space-y-2 text-gray-600 mb-4 max-w-md mt-8 ">
        <li class="tab cursor-pointer px-6 py-5 border-l-gray-100 rounded-l-lg text-gray-600 hover:bg-white "
          data-panel="feature1">
          <h3 class="text-lg font-semibold mb-2">Custom Attributes</h3>
          FORGE™ is a shell for attributes and standards for your individual organization.
        </li>
        <li class="tab cursor-pointer px-6 py-5 border-l-gray-100 rounded-l-lg text-gray-600 hover:bg-white"
          data-panel="feature2">
          <h3 class="text-lg font-semibold mb-2">Grading</h3>
          Score attributes on a 1-5 scale using clearly defined measurements of the attributes you select to relevant
          ambiguity for assessors
        </li>
        <li class="tab cursor-pointer px-6 py-5 border-l-gray-100 rounded-l-lg text-gray-600 hover:bg-white"
          data-panel="feature3">
          <h3 class="text-lg font-semibold mb-2">Deeper Analysis</h3>
          FORGE™ allows deeper analysis of attributes with sub-attributes to provide meaningful insights
        </li>
        <li class="tab cursor-pointer px-6 py-5 border-l-gray-100 rounded-l-lg text-gray-600 hover:bg-white"
          data-panel="feature4">
          <h3 class="text-lg font-semibold mb-2">Leaderboards</h3>
          Evaluate across cohorts to identify performance differences between individuals
        </li>
        <li class="tab cursor-pointer px-6 py-5 border-l-gray-100 rounded-l-lg text-gray-600 hover:bg-white"
          data-panel="feature5">
          <h3 class="text-lg font-semibold mb-2">Report Card</h3>
          Evaluate across cohorts to identify performance differences between individuals
        </li>
      </ul>

      <!-- Tab Panels (Right Column) -->
      <div class="grow bg-white rounded-xl shadow-xl">
        <!-- Feature 1 Panel -->
        <div id="feature1" class="tab-panel hidden">
          <img class="w-full rounded-xl" src="http://sofwarellc.com/assets/images/Capabilities.png">
        </div>
        <!-- Feature 2 Panel -->
        <div id="feature2" class="tab-panel hidden">
          <img class="w-full rounded-xl" src="http://sofwarellc.com/assets/images/GradingScale.png">
        </div>
        <!-- Feature 3 Panel -->
        <div id="feature3" class="tab-panel hidden">
          <img class="w-full rounded-xl" src="http://sofwarellc.com/assets/images/Attributes.png">
        </div>
        <!-- Feature 4 Panel -->
        <div id="feature4" class="tab-panel hidden">
          <img class="w-full rounded-xl" src="http://sofwarellc.com/assets/images/Assessments.png">
        </div>
        <div id="feature5" class="tab-panel hidden">
          <img class="w-full rounded-xl" src="http://sofwarellc.com/assets/images/ReportCard.png">
        </div>
      </div>
    </div>
  </div>
</div>


<%# Testamonials %>
<div class="relative pb-16 px-36">
  <div class="lg:mx-auto lg:px-8 pb-16">
    <h1 class="mx-auto mt-2 mb-8 max-w-lg text-center text-4xl font-semibold tracking-tight text-balance sm:text-5xl">What
      our clients say about FORGE™</h1>
    <section class="grid grid-cols-2 xl:grid-cols-3 gap-4">
      <div class="p-8 border-gray-100 rounded-md border">
        <p>"A valuable tool for leadership development, feedback, and mentorship. It gives the [client org redacted]
          leadership an in-depth view of every member assigned with special emphasis on tactical-level org leadership.
          The collection of data points...available to operators form assessments and peer surveys are valuable to their
          self-awareness and development."</p>
      </div>
      <div class="p-8 border-gray-100 rounded-md border">
        <p>"The information coming our of the Peer Surveys is outstanding."</p>
      </div>
      <div class="p-8 border-gray-100 rounded-md border">
        <p>"In retrospect, I should have listened to FORGE and relieved the tactical-level org senior enlisted leader.
          All the data was there."</p>
      </div>
      <div class="p-8 border-gray-100 rounded-md border">
        <p>"The character and performance that is documented through surveys and assessments is invaluable."</p>
      </div>
      <div class="p-8 border-gray-100 rounded-md border">
        <p>"FORGE provides transparency which allows leaders to better manage risk &amp; potential. Never before have
          leaders had access to this game changing insight."</p>
      </div>
      <div class="p-8 border-gray-100 rounded-md border">
        <p>"The ultimate point...is to capture character and competency of every operator throughout their career.
          Currently we use a multitude of systems to do this, with the primary being resident knowledge all of us carry
          in our heads about specific individuals during any given period of time, The obvious problem is we will all
          not be around when the member going through a training iteration now, is looking to screen for a leadership
          position in the future."</p>
      </div>
      <div class="p-8 border-gray-100 rounded-md border">
        <p>"This system allows us to maintain and track historic records on their performace and their leadership
          capabilities and/or potential for the future."</p>
      </div>
      <div class="p-8 border-gray-100 rounded-md border">
        <p>"We got such good insight on our uniformed personnel I extended the program to my command staff."</p>
      </div>
      <div class="p-8 border-gray-100 rounded-md border">
        <p>"The ultimate point of this is to capture character and competency of every operator throughout their
          career...This system allows us to maintain and track historic records on their performance and their
          leadership capabilities and/or potential for the future."</p>
      </div>
    </section>
  </div>

  <div class="max-w-screen-sm mx-auto" id="quote">
    <div class="p-10 bg-gray-100 rounded-xl">
      <form id="ForgeForm">
        <h2 class="font-xthick text-center text-gray-900 text-4xl mb-5">Interested in learning more about
          FORGE™?</h2>
        <div class="mb-5">
          <label class="block" for="fullname">Name:</label>
          <input class="w-full border-gray-300" type="text" name="fullname" id="fullname" value="" required="">
        </div>
        <div class="mb-5">
          <label class="block" for="phone_number">Phone Number:</label>
          <input class="w-full border-gray-300" type="Number" name="phone_number" id="phone_number" value=""
            required="">
        </div>
        <div class="mb-5">
          <label class="block">Organization:</label>
          <input class="w-full border-gray-300" type="text" name="organization" id="organization" value="" required="">
        </div>
        <div class="mb-5">
          <label class="block" for="email_address">Email address:</label>
          <input class="w-full border-gray-300" type="email" name="email_address" id="email_address" value=""
            required="">
        </div>
        <div class="g-recaptcha" data-sitekey="6LdF1F8pAAAAAB3SAYzXBhLPpe8Z_s_VChgdF5Ye" data-action="qoute"></div>
        <input type="hidden" name="page_id" value="forge" id="page_id" required="">
        <button class="w-full bg-lime-600 text-white p-2 rounded">Submit</button>
        <div id="responce-message"></div>
      </form>
    </div>
  </div>
</div>
