<body>
  <div class="bg-white">
  <main>
  <div class="lg:relative bg-gray-900">
    <header class="absolute top-0 z-50" style="right:  0;left: 0;">
      <nav class="max-w-7xl mx-auto " aria-label="Top">
        <div class="flex w-full items-center justify-between border-b border-gray-600 py-4 lg:border-none">
          <div class="flex justify-start items-center md:flex-1">
            <a href="/">
              <span class="logo"><%= image_tag "logo.png", alt: "SOFware LLC", class: "object-contain h-16 w-auto" %></span>
            </a>
          </div>
          <div>
            <div class="hidden ml-10 space-x-8 md:flex text-xl">
              <a href="/forge.html" class="font-bold text-white hover:text-indigo-50">FORGE</a>
              <a href="/about.html" class="font-bold text-white hover:text-indigo-50">About</a>
              <a href="/careers.html" class="font-bold text-white hover:text-indigo-50">Careers</a>
            </div>
          </div>

        </div>
        <div class="py-4 flex flex-wrap justify-center space-x-6 md:hidden">
          <a href="/" class="text-base font-medium text-white hover:text-indigo-50">Home</a>
          <a href="/about.html" class="text-base font-medium text-white hover:text-indigo-50">About</a>
          <a href="/careers.html" class="text-base font-medium text-white hover:text-indigo-50">
            Careers
          </a>
          <a href="/forge.html" class="text-base font-medium text-white hover:text-indigo-50">FORGE</a>
        </div>
      </nav>
    </header>

    <div class="mx-auto max-w-7xl w-full pt-16 pb-20 text-center lg:py-48 lg:text-left min-h-96" style="min-height: 42rem;">
      <div class="lg:w-1/2  z-10 absolute text-white">
        <h1 class="mt-7 inter sm:text-3xl md:text-6xl">
          Game changing insights for<br>
          <span class="text-lime-500 xl:inline font-bold">elite teams</span>
        </h1>
        <p class="mt-3 max-w-md text-xl leading-[1.5] md:mt-5 md:max-w-3xl">
          Humans are more important than hardware. Select the best, invest in their development, and identify those with
          leadership potential.
        </p>
        <p>
    <a href="/demo-request.html" class="ml-8 mr-3 h-9 inline-flex items-center justify-center whitespace-nowrap rounded-md border border-transparent bg-gradient-to-r from-green-600 to-lime-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:from-green-700 hover:to-lime-700 focus:outline-none focus:ring-2 focus:ring-lime-600 focus:ring-offset-2" style="
    margin: 2rem 0;
    padding: 1.5rem;
    font-size: 1.1rem;
">
              Request a Demo</a>
            </p>
    </div>
    <img class="absolute inset-0 w-full h-full object-cover z-0 opacity-[.1]" src="https://sofwarellc.com/assets/images/training.jpg" alt="" ></div>
  </div>


  <!-- Selection and Development -->
  <div class="overflow-hidden bg-white py-14 sm:py-20">
    <div class="mx-auto max-w-7xl pr-6 lg:pr-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pt-4 lg:pr-8">
          <div class="lg:max-w-lg">
            <h2 class="text-base/7 font-semibold text-orange-600">Selection and Development</h2>
            <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-[2.9rem]">Build units that overcome any obstacle</p>
            <p class="mt-6 text-lg/8 text-gray-600">Selection and Development for your elite organization is about more than just physical performance. We understand that you are also looking for harder-to-measure attributes.</p>
            <dl class="mt-10 max-w-xl space-y-8 text-base/7 text-gray-600 lg:max-w-none">
              <div class="relative pl-16">
                <dt class="inline font-semibold text-gray-900">
                  <div class="absolute top-1 left-1 flex items-center justify-center h-10 w-10 rounded-md bg-lime-600 text-white">
                    <!-- Heroicon name: link -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"></path>
                    </svg>
                  </div>
                  Functional intelligence
                </dt>
                <dd class="">How members respond to problems under pressure, whether they are quick at thinking on their feet in new
                  situations.</dd>
              </div>
              <div class="relative pl-16">
                <dt class="inline font-semibold text-gray-900">
                  <div class="absolute top-1 left-1 flex items-center justify-center h-10 w-10 rounded-md bg-lime-600 text-white">
                    <!-- Heroicon name: link -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z"></path>
                    </svg>
                  </div>
                  Attitude and resilience
                </dt>
                <dd class="">Assess how members respond to challenges, if they keep a cool head and support their team.</dd>
              </div>
              <div class="relative pl-16">
                <dt class="inline font-semibold text-gray-900">
                  <div class="absolute top-1 left-1 flex items-center justify-center h-10 w-10 rounded-md bg-lime-600 text-white">
                    <!-- Heroicon name: link -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path>
                    </svg>
                  </div>
                  Physical Performance
                </dt>
                <dd class="">How members measure up to your exacting standards across the range of tasks that you throw at them.</dd>
              </div>
              <div class="relative pl-16">
                <div class="absolute top-1 left-1 flex items-center justify-center h-10 w-10 rounded-md bg-lime-600 text-white">
                      <!-- Heroicon name: link -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"></path>
                  </svg>
                </div>
                <dt class="inline font-semibold text-gray-900">
                  Teamwork and cooperation
                </dt>
                <dd class="">Anonymous peer reviews pick up details that Selectors can otherwise miss, such as how they treat other
                  members.</dd>
              </div>
            </dl>
          </div>
        </div>
        <img src="https://sofwarellc.com/assets/images/report-card.jpg" alt="Product screenshot" class="w-[48rem] max-w-none rounded-xl ring-1 shadow-xl ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442">
      </div>
    </div>
  </div>

  <!-- A combination of hands on help -->
  <div class="relative bg-gray-900">

    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="relative ">
        <img src="https://sofwarellc.com/assets/images/tablet.jpg" alt="Product screenshot" class="opacity-25 object-cover w-full h-full">
        <div aria-hidden="true" class="absolute right-0 top-0 h-full w-20 lg:h-full lg:w-32  bg-gradient-to-r from-transparent to-gray-900"></div>
      </div>
      <div class="lg:pt-4 lg:px-16">
        <div class="relative pt-12 pb-64 sm:pt-24 sm:pb-64 xl:col-start-1 xl:pb-24">
          <h3 class="mt-2 text-3xl leading-8 font-semibold tracking-tight text-white sm:text-4xl">
            Best practices, hands-on experts, and tailorable software
          </h3>
          <p class="mt-4 text-lg text-gray-300">With SOFware, you get a dedicated team member to help you apply FORGE to
            your Selection and Development process. Our team is made up of former operators, many of whom worked in
            selection and development at the most elite levels.</p>
          <p class="mt-4 text-lg text-gray-300">They will guide you through every stage including:</p>

          <dl class="mt-10 space-y-10">
            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                <p class="ml-9 text-lg leading-6 font-medium text-white">
                  Observation
                </p>
              </dt>
              <dd class="mt-2 ml-9 text-base text-gray-300">
                Observing your existing process and learning what makes it unique.
              </dd>
            </div>
            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                <p class="ml-9 text-lg leading-6 font-medium text-white">
                  Curricula Design
                </p>
              </dt>
              <dd class="mt-2 ml-9 text-base text-gray-300">
                Specifying your selection criteria, then choosing the optimum mixture of tests and approaches for scoring
                your members.
              </dd>
            </div>

            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                <p class="ml-9 text-lg leading-6 font-medium text-white">
                  Assessment
                </p>
              </dt>
              <dd class="mt-2 ml-9 text-base text-gray-300">
                Guiding you how to mark members for each area, including how to avoid any unwanted biases in your own
                opinions.
              </dd>
            </div>

            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                <p class="ml-9 text-lg leading-6 font-medium text-white">
                  Analysis
                </p>
              </dt>
              <dd class="mt-2 ml-9 text-base text-gray-300">
                Gathering all of the data into a concise overview, helping Selectors see all the facts so they can make
                the best possible choices.
              </dd>
            </div>

            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                <p class="ml-9 text-lg leading-6 font-medium text-white">
                  Refinement
                </p>
              </dt>
              <dd class="mt-2 ml-9 text-base text-gray-300">
                We will work with you to refine the process for your next round of selections, to ensure you receive
                increasingly meaningful insights
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <!-- end of A combination of hands on help -->

  <!-- Analyze the whole recruitment journey -->
  <div class="relative pt-16 pb-4 overflow-hidden">
    <div aria-hidden="true" class="absolute inset-x-0 top-0 h-48 bg-gradient-to-b from-gray-100"></div>
    <div class="relative">
      <div class="lg:mx-auto lg:max-w-4xl lg:px-8">
        <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-8 lg:max-w-none lg:mx-0 lg:px-0">
          <div>
            <div class="mt-6 text-center">
              <h3 class="mt-2 text-3xl leading-8 font-xthick tracking-tight text-gray-900 sm:text-4xl">
                Analyze the whole journey
              </h3>
              <p class="mt-4 px-12 text-lg text-gray-500">
                We understand that assessments don’t stop at the selection stage. We help clients for the whole journey
                from initial selection, through continued development and ongoing mentorship.
              </p>

              <p class="mt-4 px-12 text-lg text-gray-500">
                With big picture data you can discover new insights into your team, such as how they have taken feedback
                to tackle any weaknesses.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of Analyze the whole recruitment journey -->

  <!-- Stats section -->
  <div class="bg-gray-50 pt-12 sm:pt-16">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="max-w-4xl mx-auto text-center">
        <h3 class="mt-2 text-3xl leading-8 font-xthick tracking-tight text-gray-900 sm:text-4xl">
          How we can help
        </h3>
        <p class="mt-3 text-lg text-gray-500 sm:mt-4">
          SOFware is an organization that helps provide tailored software and services that perform at the highest
          levels of client demand. We built FORGE to manage the critical process of assessing, selecting and developing
          members of elite organizations like yours.
        </p>
      </div>
    </div>
    <div class="mt-10 pb-12 bg-white sm:pb-16">
      <div class="relative">
        <div class="absolute inset-0 h-1/2 bg-gray-50"></div>
        <div class="relative max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="max-w-4xl mx-auto">
            <dl class="rounded-lg bg-white shadow-lg sm:grid sm:grid-cols-3">
              <div class="flex flex-col border-b border-gray-100 p-6 text-center sm:border-0 sm:border-r">
                <dt class="order-2 mt-2 text-base leading-6 font-medium text-gray-500">Branches of the US military use
                  SOFware built applications.</dt>
                <dd class="order-1 text-5xl font-xthick text-gray-900">3</dd>
              </div>
              <div class="flex flex-col border-t border-b border-gray-100 p-6 text-center sm:border-0 sm:border-l sm:border-r">
                <dt class="order-2 mt-2 text-base leading-6 font-medium text-gray-500">Members have gone through
                  Assessment &amp; Selection utilizing FORGE.</dt>
                <dd class="order-1 text-5xl font-xthick text-gray-900">12k+</dd>
              </div>
              <div class="flex flex-col border-t border-gray-100 p-6 text-center sm:border-0 sm:border-l">
                <dt class="order-2 mt-2 text-base leading-6 font-medium text-gray-500">Years serving these
                  organizations.</dt>
                <dd class="order-1 text-5xl font-xthick text-gray-900">10+</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of Stats section -->
</main>

    <footer aria-labelledby="footer-heading">
      <h2 id="footer-heading" class="sr-only">Footer</h2>
      <div class="max-w-7xl mx-auto pb-8 px-4 sm:px-6 lg:px-8">
        <div class="mt-12 border-t border-gray-200 pt-8 md:flex md:items-center md:justify-between lg:mt-16">
          <p class="mt-8 text-base text-gray-400 md:mt-0">
            © 2025 SOFware LLC, All rights reserved.
          </p>
          <p class="mt-8 text-base text-gray-400 md:mt-0">
            <a href="/privacy.html">Privacy Policy</a>
          </p>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
