<div class="">
  <header class="absolute top-0 z-50" style="right:  0;left: 0;">
    <nav class="max-w-7xl mx-auto " aria-label="Top">
      <div class="flex w-full items-center justify-between border-b pt-3 pb-4 lg:border-none">
        <div class="flex justify-start items-center md:flex-1">
          <a href="/">
            <span class="logo"><%= image_tag "logo.png", alt: "SOFware LLC", class: "object-contain h-[3.7rem] w-auto" %></span>
          </a>
        </div>
        <div class="mt-5">
          <div class="hidden ml-10 space-x-8 md:flex text-xl">
            <a href="/forge.html" class="font-bold text-white hover:text-indigo-50">FORGE</a>
            <a href="/about.html" class="font-bold text-white hover:text-indigo-50">About</a>
            <a href="/careers.html" class="font-bold text-white hover:text-indigo-50">Careers</a>
          </div>
        </div>
      </div>
      <div class="py-4 flex flex-wrap justify-center space-x-6 md:hidden">
        <a href="/" class="text-base font-medium text-white hover:text-indigo-50">Home</a>
        <a href="/about.html" class="text-base font-medium text-white hover:text-indigo-50">About</a>
        <a href="/careers.html" class="text-base font-medium text-white hover:text-indigo-50">
          Careers
        </a>
        <a href="/forge.html" class="text-base font-medium text-white hover:text-indigo-50">FORGE</a>
      </div>
    </nav>
  </header>
</div>
